* {
    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;/*espaçamento 3% na parte superior e base, 4% nas laterais*/
}

.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url('../img/logo-mobile.png') center center/56px no-repeat;
    font-size: 0;
}

.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right, #ce2e3c, #da6709);
}

.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    display: none
}

.btn-close {
    font-size: 3em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-right: 2% 3% 0 0;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.1%;
    font-size: 20px;
}

.menu li a {
    color: #fff;
}

.menu li a:hover {
    border: 1px solid #da6709;
    transition: 0.4s; 
}

/*BANNER*/
.banner {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url('../img/bg.jpg') no-repeat fixed;
}

.title {
    width: 100%;
}

.title h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
}

.title h3 {
    font-size: 20px;
    color: #fff;
}

.buttons {
    width: 100%;
    margin-top: 2%;
}

.btn {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
}

.btn-cadastrar {
    background-color: white;
    color: #130400;
}

.buttons i {
    float: right;
}

.btn-sobre {
    background-color: #130400;
    color: #fff;
    margin-top: 2%;
}

/*SERVICOS*/
.servicos {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.servico {
    width: 100%;
    background: #fff;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}

.servico img {
    border-radius: 7px 7px 0 0;
}

.inner {
    padding: 7%;
}

.inner a {
    font-size: 2em;
    color: #130400;
    font-weight: 700;
}

.inner h4 {
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}

.inner p {
    margin-top: 6%;
    color: #130400;
    line-height: 1.2em;
}

.newsletter {
    width: 100%;
    background: #130400;
    color: white;
    float: left;
    text-align: center;
}

.newsletter h2 {
    font-size: 1.8em;
    font-weight: 700;
}

.newsletter h3 {
    font-size: 1.3em;
}

.newsletter form {
    margin-top: 2%;
}

.newsletter form input {
    width: 70%;
    border-radius: 5px;
    padding: 20px;
    background-color: #130400;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.3em;
}

.newsletter button {
    width: 70%;
    cursor: pointer;
    padding: 20px;
    background-color: #008000	;
    color: white;
    border-radius: 5px;
    font-size: 1.3em;
    margin-top: 1%;
}

.newsletter button:hover {
    background-color: #006400;
    transition: 0.4s;
}

/*RODAPE*/
.rodape {
    width: 100%;
    float: left;
    padding: 3% 4%;
    color: ghostwhite;
    text-align: center;
    background: linear-gradient(to right, #ce2e3c, #da6709);
}

.rodape .social-icons {
    font-size: 2.5em;
}

.rodape .social-icons a {
    margin: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.rodape .social-icons a:hover {
    color: white;
    transition: 0.3s;
}

.copyright {
    font-size: 1.3em;
    margin-top: 2%;
}

/*MEDIA TYPES
SCREEN: para monitores ou dispositivos com telas coloridas e resolkução adequada
PRINT: para impressoras, muito usado para dar uma versão de impressão ao site
*/

/*SMALL DEVICES - SMARTPHONES*/

@media screen and (min-width: 1024px) {
    .logo {
        width: 214px;
        float: left;
        background: url('../img/logo.png') center center/214px no-repeat;
    }
}

@media screen and (max-width: 768px) {
    .servico {
        width: 49%;
        background: #fff;
        float: left;
        margin-right: 2%;
    }

    .servico:nth-child(2){
        margin-right: 0;
    }
}








